sudo: false
language: python
python:
  - "2.7"
  - "pypy"
install: pip install tox-travis
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script: tox
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT